[submodule "binutils"]
	path = binutils
	url = git://github.com/gittup/binutils.git
[submodule "busybox"]
	path = busybox
	url = git://github.com/gittup/busybox.git
[submodule "gcc"]
	path = gcc
	url = git://github.com/gittup/gcc.git
[submodule "linux"]
	path = linux
	url = git://github.com/gittup/linux.git
[submodule "ncurses"]
	path = ncurses
	url = git://github.com/gittup/ncurses.git
[submodule "nethack"]
	path = nethack
	url = git://github.com/gittup/nethack.git
[submodule "uClibc"]
	path = uClibc
	url = git://github.com/gittup/uClibc.git
[submodule "alsa-lib"]
	path = alsa-lib
	url = git://github.com/gittup/alsa-lib.git
[submodule "alsa-utils"]
	path = alsa-utils
	url = git://github.com/gittup/alsa-utils.git
[submodule "zlib"]
	path = zlib
	url = git://github.com/gittup/zlib.git
[submodule "mplayer"]
	path = mplayer
	url = git://github.com/gittup/mplayer.git
[submodule "libavformat"]
	path = libavformat
	url = git://github.com/gittup/libavformat.git
[submodule "libavcodec"]
	path = libavcodec
	url = git://github.com/gittup/libavcodec.git
[submodule "libavutil"]
	path = libavutil
	url = git://github.com/gittup/libavutil.git
[submodule "openssl"]
	path = openssl
	url = git://github.com/gittup/openssl.git
[submodule "openssh"]
	path = openssh
	url = git://github.com/gittup/openssh.git
[submodule "glib"]
	path = glib
	url = git://github.com/gittup/glib.git
[submodule "pciutils"]
	path = pciutils
	url = git://github.com/gittup/pciutils.git
[submodule "fuse"]
	path = fuse
	url = git://github.com/gittup/fuse.git
[submodule "sshfs-fuse"]
	path = sshfs-fuse
	url = git://github.com/gittup/sshfs-fuse.git
[submodule "tup"]
	path = tup
	url = git://github.com/gittup/tup.git
[submodule "libdvdread"]
	path = libdvdread
	url = git://github.com/gittup/libdvdread.git
[submodule "v86d"]
	path = v86d
	url = git://github.com/gittup/v86d.git
